[submodule "eigen"]
	path = c++/eigen
    url = https://gitlab.com/libeigen/eigen.git

; [submodule "FreeEnergyMultimodeQEDjl"]
; 	path = julia/FreeEnergyMultimodeQEDjl
; 	url = https://github.com/vittorioerba/FreeEnergyMultimodeQEDjl.git
